[Unit]
Description=Update Git Repository and Deploy Files
After=network.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/services/startup.sh
RemainAfterExit=yes
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target