[Unit]
Description=Pull the repository on startup
After=network.target

[Service]
ExecStart=/usr/bin/git -C /var/www/html pull
ExecStartPost=/bin/mv /services/*.service /etc/systemd/system/
Restart=always
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target