.element1{

            
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;

}

.testo{

  color: #92835D;
  font-size: 9em;
  font-family: 'Calling Heart', sans-serif;
  margin-left: 10% ;
  margin-right: 10% ;
  margin-bottom: 1%;
  padding-left :10px;
  text-shadow: 3px 8px #3A1311;
  line-height: 1em;     
                                      
}
.numero{

  color: #92835D;            
  font-size: 40em;          
  font-family: 'OptimusPrinceps', sans-serif;
  font-family: 'OptimusPrincepsSemiBold', sans-serif;
  text-shadow: 13px 8px 1px #3A1311;
   line-height: 0.8em;

}

body{
  align-items: center;
  background-color:#7D1716;
}